.feature {
    margin-top: 160px;
}

.feature__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 160px;
}

.feature__heading {
    margin-top: 12px;
    width: 470px;
}

.feature__desc {
    margin-top: 20px;
    width: 470px;
}

.feature__details {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.feature__item {
    position: relative;
    margin-left: 28px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.feature__item::before {
    position: absolute;
    left: -24px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #7264d6;
}

.feature__btn {
    margin-top: 38px;
    min-width: 149px;
}

.feature__media {
    position: relative;
}

.feature__bank-card {
    position: relative;
    padding: 38px;
    width: 482px;
    height: 322px;
    border-radius: 20px;
    background: #8476e3;
    overflow: hidden;
    z-index: 100;
}

.feature__title-balance {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: normal;
    z-index: 1;
    background: transparent;
}

.feature__balance {
    margin-top: 10px;
    color: #fff;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    z-index: 100;
}

.feature__row {
    display: flex;
    align-items: center;
}

.feature__row:nth-of-type(1) {
    margin-top: 98px;
}

.feature__valid {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}

.feature__owner {
    margin-left: 26px;
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.feature__date {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: normal;
}

.feature__card-type {
    margin-left: 81px;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}

.feature__bank-decor {
    position: absolute;
    z-index: -1;
}

.feature__bank-decor:nth-of-type(1) {
    top: 0;
    left: 0;
}

.feature__bank-decor:nth-of-type(2) {
    top: 38px;
    right: 38px;
}

.feature__bank-decor:nth-of-type(3) {
    right: 0;
    bottom: 0;
}

.feature__send-money-tag {
    position: absolute;
    right: 0;
    top: -48px;
    z-index: 101;
    display: flex;
    align-items: center;
    padding: 23px 13px;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.feature__tag-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #fbf0f0;
}

.feature__tag-img {
    width: 20px;
    height: 20px;
}

.feature__tag-content {
    flex: 1;
    margin-left: 14px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.feature__tag-action {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}

.feature__tag-amount-substract {
    color: #212832;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.feature__tag-brand {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.feature__tag-date {
    color: #696d76;
    text-align: right;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
}

.feature__income-tag {
    position: absolute;
    bottom: -55px;
    right: 20px;
    z-index: 101;
    padding: 15px;
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: #439f90;
}

.feature__tag-icon--white {
    background-color: #fff;
}

.feature__tag-income-title {
    margin-top: 14px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.feature__tag-total {
    margin-top: 6px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.feature__media:nth-of-type(2) {
}

.feature__media-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 470px;
    height: 600px;
}

.feature__main-img {
    width: 413px;
    height: 600px;
    object-fit: cover;
}

.feature__backround {
    position: absolute;
    bottom: 0;
    left: auto;
    right: auto;
    z-index: -1;
}

.feature__payment-method {
    position: absolute;
    bottom: 57px;
    right: 40px;
    padding: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 281px;
    height: 220px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 14px 38px 0 rgba(0, 0, 0, 0.07);
}

.feature__payment-heading {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
}

.feature__method-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 18px;
}

.feature__payment-method-decor {
    position: absolute;
    top: -35px;
    right: -26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #7264d6;
}

.feature__dollar-icon {
    width: 40px;
    height: 40px;
}

.feature__content:nth-of-type(2) {
    margin-left: auto;
}

.feedback {
    margin-top: 160px;
}

.feedback__subtitle-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback__heading {
    margin-top: 12px;
    text-align: center;
}

.feedback__desc {
    width: 435px;
    font-size: 1.6rem;
    text-align: center;
    margin: 18px auto 0;
}

.feedback__row {
    margin-top: 70px;
}

.feedback__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__block-quote {
    position: relative;
    padding: 42px 28px;
    width: 570px;
    height: 254px;
    background-color: #fff;
    border: 1px #dfe1e8 solid;
    border-radius: 8px;
}

.feedback__block-quote:hover {
    border: none;
    box-shadow: 0 22px 54px rgba(0, 0, 0, 0.07);
}

.feedback__quote {
    display: inline-block;
    width: 514px;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5454; /* 154.545% */
}

.feedback__quote-arrow {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -61px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 49px solid transparent;
    border-left: 49px solid transparent;
    border-top: 62px solid #dfe1e8;
}

.feedback__block-quote:hover .feedback__quote-arrow {
    border-top: 62px solid #fff;
}

.feedback__block-quote:hover .feedback__quote-arrow-inner {
    opacity: 0;
}

.feedback__quote-arrow-inner {
    position: relative;
    width: 0;
    height: 0;
    bottom: 61px;
    left: 50%;
    transform: translateX(-50%);
    border-right: 47.5px solid transparent;
    border-left: 47.5px solid transparent;
    border-top: 60px solid #fff;
    z-index: -1;
}

.feedback__customer {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback__customer-thumb {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #4ab5e3;
    overflow: hidden;
}

.feedback__customer-name {
    margin-top: 20px;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.3846; /* 138.462% */
}

.feedback__customer-position {
    margin-top: 2px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.feedback__item:nth-of-type(2) .feedback__customer-thumb {
    background-color: #439f90;
}

.feedback__next {
    display: block;
    width: 90px;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.feedback__next:hover {
    cursor: pointer;
}
